doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
  body
    header
      .navbar
        .logo 
          a(href='/') MetaWall
        .user 
          img.className#IdName(src="/images/user.png" alt="Image Title")
        .member Member
    block content
